@font-face {
  font-family: 'SPACE ARMOR Regular';
  font-style: normal;
  font-weight: normal;
  src: local('SPACE ARMOR Regular'),
    url('../public/SpaceArmor-vmlv4.woff') format('woff');
}

h1 {
  font-family: 'SPACE ARMOR Regular';
  font-size: 5rem;
}
